.dashboard-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.job-card{
    width: 300px;
    padding: 16px;
    border: 1px solid;
}

.modal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.modal-content {
    padding: 50px;
    background-color: bisque;
    border: solid;
}